[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = ">19.*"
isort = "*"

[packages]
jupyterlab = "*"
image-match = "*"
matplotlib = "*"
pillow = "*"
labelimg = "*"
pandas = "*"
tensorflow = "*"
scikit-learn = "*"
cython = "*"
contextlib2 = "*"
lxml = "*"
click = "*"
click-log = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
