[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = ">19.*"
isort = "*"

[packages]
click = "*"
click-log = "*"
contextlib2 = "*"
cython = "*"
image-match = "*"
jupyterlab = "*"
labelimg = "*"
lxml = "*"
matplotlib = "*"
pandas = "*"
pillow = "*"
scikit-learn = "*"
tensorflow = "*"

[requires]
python_version = "3.6"
